<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/.css">
</head>
<div >
    <div class="row">
      <div class="col-12 wrapme ">
           <div class="bgPic" >
              <img class="img-fluid  h-70 w-100"  style="max-height:300px ;" src="images/codeswalp.jpg" alt="">
              <div class="overlay"></div>

              <div  class="wrap">
                <div class="row">
                  <div class="col-xm-12" style="line-height:normal ">
                    <p class="header" style="font-size: 4vw; fw-bolder">LEARNING NEVER EXHAUSTS, 
                      THE <br> MIND   </p>
                    <p class="subheader mt-3 py-3">
                      {{headerTitle}}
                    </p>             res.render('news', { newsData: JSON.stringify(newsData) });
                  </div>
                </div>            
             </div>
          </div>
      </div>
    </div>