<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>

  <style>
    p {
      line-height:normal;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12 shadow-lg">
        <img  style="width:fit-content" src="images/logohd.jpg" alt="" >
        <div class="text-area pt-3 " >
          <p class="h2">Hello   {{name}}! </p>
         <p class="h1">Welcome to Brightfied Tech Academy 👋</p>
        <p>
        Hey there! Glad you share our passion for coding and programming. <br> We'll keep you in the loop with coding tips, updates, deals, and more. Ready to level up your coding skills? Kick Start your career in web development now!!</p>
        <p>We're glad to have you on board at Brightfied Tech Academy. </p> 
        <p>We will get in touch with you concerning your admission status </p>

        </div>
        

      </div>
    </div>
         
  
  </div>
</body>
</html>