
<head>
    <title>{{contact}}</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

  <section>
     <!-- video bg  start -->
    <div >
          <div class="videoWrapper">
            <div  class="vidtext" >
              <h1 class="typing-effect" data-text="Are you ready to learn ? Join Our  Tech Community of Coders!!">
                Are you ready to learn ?
                Join Our  Tech Community of Coders!!
          
              </h1>

             </div>
            <video   autoplay muted loop >
              <source src=   "vid/Why Digital Transformation_.mp4" type="video/mp4">
              
             </video>
            
         
          </div>


        </div>
      </div>
    </div>
  <!-- video bg end -->
  <!-- bio  start -->
  <div class="missionAndValues">
    <div class="container ">
      <div class="row pt-4 pb-4">

          <div class="col-xm-12 col-sm-4 col-md-4 col-lg-4">
            <img class="image-fluid  px-50 " style="padding-top: 5%; padding-bottom:5%; margin:auto;" src="images/world_map_logo.svg" alt="">

          </div>
          <div class="col-xm-12 col-sm-4 col-md-4 col-lg-4">
          <div class="bio">
            
              <p class="h4">Our Mission</p>
              <p>
                Brightfield Academy educational  technology company
                dedicated to helping students realize their potential 
                through digital literacy and technical skills training.

              </p>

          </div>
        </div>
        <div class="col-xm-12 col-sm-4 col-md-4 col-lg-4">
          <div class="bio">

              <p class="h4">Our Values</p>
              
              <p>
                As a company, and as individuals,
                 we value integrity, honesty,
                  openness, personal excellence, continual self-improvement, and mutual respect.
              </p>
          </div>

        </div>
      
        
      </div>
        

    </div>

  </div>
    


  <!-- flip over -->
    <div class="container "> 
      <div class="row">
        <div class="col-12" >
          <div id="FirstFlipOver">
              <div id="wrapperofoverlay"> 
                <div class="FirstOverlayOfFlipOver "  data-aos="fade-left">
                  <hr>
                  <center><i class="fa-light fa-square-check"></i></i>
                    <h1>Our Vision</h1>
                  </center>
                    <h6 >
                      A world where youth who have not completed high school will have a second chance at acquiring relevant skills and an opportunity to improve
                       their quality of life by building a rewarding career in technology.
                    </h6> 
                    <hr> 
                </div>
              </div>
            <div style="background-image: url(images/bossssss.jpg);
                      background-size: contain;
                      background-repeat: no-repeat;
                      top: 1rem;
                      bottom: 1rem;
                      width: 90%;
                      position: absolute; 
                      z-index: -1;  
                    "> </div>
          </div>    <!--first fliopver-->
        </div><!--col-->
      </div> <!--row-->
    </div> <!--container fluid-->



    

    <!-- bio ends -->
    <div class="container-fluid">


    </div>



    <!-- 3 col vid section  start -->
    <div class="container-fluid  wrapParentDualSection">
      <div class="row" style="min-height:400px ;">
        <div class="col-xm-12 col-sm-6 col-md-6 col-lg-6" style="background-color: #505170;color:white">
          <div class="textArea" >
             <p class="h2" style="width: 80%;font-weight:bold; padding:2rem 2rem 2rem 1rem;">This company is on fire!</p> 
            <p class="h6">

              This company and its leadership team are driven to transform students' lives in amazing ways! It is a fun, positive, exciting organization to  join.”
             
              </p>

          </div>
          
        </div>

       


        <div class="col-xm-12 col-sm-6 col-md-6 col-lg-6" style="background-color:rgb(247, 246, 245) ;">

          <div>
            <p class="h2" style="width: 80%;font-weight:bold; padding:3rem 2rem 1rem 2rem">Our Hallmark</p>
            <p style="padding-left:1rem ; padding:2rem; width:90%;">
            Brightfied Tech Academy  is proud to be recognized for our corporate culture, benefits, and positive impacts.
          </p>
          </div>
          
        </div>
      </div>

    </div>


    <!-- 3 col vid section end -->

    <!-- section of counters section -->

 
    <div class="container-fluid counterArea"  style="background-color: #0c1424;" >
      <div class="row" >

                  <div class="col-xm-12   col-sm-4   col-md-4  col-lg-4"> 
                    <div style="text-align: center;"  id="centerCounterArea">
                          <span > <i    class="fa-solid fa-graduation-cap fa-5x"></i> </span>
                          <h1  style="margin: auto ;">70+</h1>
                          <h4>Graduates from Brightfied</h4>
                    </div>
                  </div>

                  <!--  -->
                  <div class="col-xm-12  col-sm-4   col-md-4  col-lg-4"> 
                    <div style="text-align: center;"  id="centerCounterArea">
                        <span >  <i class="fa-solid fa-thumbs-up  fa-5x"></i> </span>
                        <h1  style="margin: auto ;" id="numberOfDays"></h1>
                        <h4>Days since Brightfied was lauched </h4>
                    </div>
                  </div>

                <!--  -->

                <div class="col-xm-12   col-sm-4  col-md-4 col-lg-4">  
                  <div style="text-align: center;"  id="centerCounterArea">
                      <span ><i class="fa-solid fa-clock  fa-5x"></i></span>
                      <h1  style="margin: auto ;">7hours/Day</h1>
                      <h4>hours donated by mentors</h4>
                  </div>
                </div>
                <!--  -->
          
              <!-- last col ends -->
      </div>
      <!-- row  -->
    </div> 
    <!-- contianer-fluid -->
  
 
    <div class="container ">
      
      <div class="row flip">



        <div class="col-12"   >
          <div id="FirstFlipOver1">
              <div id="wrapperofoverlay"> 
                <div class="FirstOverlayOfFlipOver2 "  data-aos="fade-left">
                  <hr>
                  <center><i class="fa-light fa-square-check"></i></i>
                    <h1  style="width:90% ;">Our first Coding for Kids Program</h1>
                  </center>
                    <h6>
                      Free resources to learn coding for kids and teens. Programming with free websites
                       and apps in Python,
                       Java, HTML/CSS, JavaScript, and more!
                       <hr>
                    </h6> 
                    
                </div>
              </div>
              <div data-aos="fade-right" id="carouselExampleFade" class="carousel slide  carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="images/group2studentsandchil.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="images/whitekid.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="images/yellowidwithceth.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="images/webnertokid.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="images/oliverwebner.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
               
              </div>
            <!-- <div data-aos="fade-right" id="secondImageholder"></div> -->
          </div>    <!--first fliopver-->
        </div><!--col-->


      </div> <!--row-->

    </div> <!--container-->

    <div class="container ">
      
      <div class="row flip">



        <div class="col-12"   >
          <div id="FirstFlipOver2">
              <div id="wrapperofoverlay"> 
                <div class="FirstOverlayOfFlipOver3 "  data-aos="fade-left">
                  <hr>
                  <center><i class="fa-light fa-square-check"></i></i>
                    <h1>Community of Developers</h1>
                  </center>
                    <h6>
                      Our mission is simple                      
                      to provide quality training and support to help residents 
                      of Sefwi Bekwai enter software development careers.
                    </h6> 
                    <hr> 
                </div>
              </div>

              <div data-aos="fade-right" id="carouselExampleFade" class="carousel slide  carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="images/kidscoumunity.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="images/kidstogedacmm.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="images/communityadult.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="images/anodaadultscom.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="images/243647056_4344240402333407_5899634318210185297_n.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
               
              </div>
            <!-- <div id="forthImageholder" data-aos="fade-right"></div> -->
          </div>    <!--first fliopver-->
        </div><!--col-->


      </div> <!--row-->

    </div> <!--container fluid-->







    <div class="container">
      <div class="row">
        <div class="col-12"   >
          <div id="FirstFlipOver3">
              <div id="wrapperofoverlay"> 
                <div class="FirstOverlayOfFlipOver "  data-aos="fade-left">
                  <hr>
                  <center><i class="fa-light fa-square-check"></i></i>
                    <h1>What we do</h1>
                  </center>
                    <h6>
                      <ul>
                          <li>Provides personal development tips.</li>
                          <li>Shares knowledge and life experiences.</li>
                          <li>Discusses goal setting and aspirations.</li>
                          <li>Identifies and provides resources.</li>
                          <li>Advises on professional development.</li>
                          <li>Supports the mentee's journey toward progress</li>
                      </ul>
                    </h6> 
                    <hr> 
                </div>
              </div>
            <div id="thirdImageholder"  data-aos="fade-right" ></div>
          </div>    <!--first fliopver-->
        </div><!--col-->

      </div> <!--row-->
    </div> <!--container->
  </section>
  <!-- end of flip over three cards center  -->

  <div id="floatn"  style="top: 50%; left: 0; position: fixed;  z-index: 4; margin-left: 20px;
 
 
  " >
  <a href="#">
    <img      src="images/2ndlogoofcode.webp" alt="">
  </a>
</div>





  
