<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/learn.css">
</head>

{{!-- {{>header}} --}}
<section>
  <!--  bg wallpaper start -->
  <div >
    <div class="row">
      <div class="col-12 wrapme ">
           <div class="bgPic" >
              <img class="img-fluid  h-70 w-100"  style="max-height:300px ;" src="images/codeswalp.jpg" alt="">
              <div class="overlay"></div>

              <div  class="wrap">
                <div class="row">
                  <div class="col-xm-12" style="line-height:normal ">
                    <p class="header" style="font-size: 4vw; fw-bolder">LEARNING NEVER EXHAUSTS, 
                      THE <br> MIND   </p>
                    <p class="subheader mt-3 py-3">
                      LEARN
                    </p>
                  </div>
                </div>            
             </div>
          </div>
      </div>
    </div>
  <!-- wallpaper -->

  
  <div class="container my-5 position-relative mt-5" id="overview">
    <p class="h3 fw-bolder py-5 px-3">
            OVERVIEW
          </p>
    <div class="row px-3">
      <div class="col-sm-12 col-md-6 col-lg-6 ">

          <p>
            At  Brightfied Tech Academy, you’ll learn by doing.
             Just as a blacksmith apprentice works first with the 
             metal before understanding the metallurgy, 
             here, you will tinker and build with code before the concepts
              really sink in. If you’ve never coded before, it’s a lot
               like playing a musical instrument: you need to practice,
                over and over, making mistakes, yet growing each time in 
                your skill. And the more you practice, the easier it becomes, 
                the more you can hear the melody, see the patterns, and understand the craft.
          </p>
          <p>
            What makes us unique: <b>deeper learning-by-doing through a cyclical,
             iterative process</b> . First, you learn the fundamentals of 
             programming using the Javascript language. Then you apply those 
             same fundamentals in a different programming language, deepening your understanding of them. Then again in a different language. <br>
             This allows you to use the concepts in different situations, developing both your ability to program and
             your ability to learn a new 
             language - a mission critical skill as a software <br>
             developer.
          </p>

      </div>
       <div class="col-sm-12 col-md-6 col-lg-6">
        <div>
              <img src="/images/overview.jpg" class="img-fluid h-auto "  alt="">
        </div>
        
      </div>
    </div>
  </div>



  <!-- header pathways -->
    <div class="container  header ">  
      <div class="row">
         <div class="col-12 text-center">
            <p  class="display-3 mb-5 mt-5">Learning Pathways</p>
            
         </div>
      </div> <!--row-->
    </div> <!--container -->
    <!-- header pathways end -->

 

    <!-- 6 cols pathway -->
    <div class="container " >
      <div class="row my-2  mx-2  " >
        <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <div class="wrappathway">
            <h3 class="text-center" >
                Web Development with JavaScript
            </h3>
            <p class="text-center" >
                Learn how to build, create, and maintain websites. Front-end developers craft the 
                look and feel of a website that is visible to the end user.
            </p>
          </div>

        </div>
        <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <div class="wrappathway">
            <h3 class="text-center">
                Data Analysis with Python
            </h3>
            <p class="text-center">
                Use raw data to find trends and answer questions. You’ll learn crucial Python and SQL skills necessary for advanced analytics. 
            </p>
          </div>
            
        </div>   
        <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <div class="wrappathway">
            <h3 class="text-center">
                Software Development with C#
            </h3>
            <p class="text-center">
                In this pathway, you’ll learn how to create a computer program that completes a specific task or set of tasks. 
            </p>
          </div>
            
        </div>      
      </div>

        <!-- anoda row -->

      <div class="row">
        <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <div class="wrappathway">
            <h3 class="text-center">
                User Experience (UX) Design
            </h3>
            <p class="text-center">
                Learn how to research, analyze, create designs that software developers will use to create applications
            </p>
          </div>

        </div>
        <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <div class="wrappathway">
            <h3 class="text-center">
                Quality Assurance Testing
            </h3>
            <p class="text-center">
                Learn about the tools and code used to test all kinds of software to ensure the highest quality products are produced
            </p>
          </div>
            
        </div>   
        <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <div class="wrappathway">
            <h3 class="text-center">
                Two Courses For Every Pathway!
            </h3>
            <p class="text-center">
                All of these pathways contain two 12-week courses, the first introducing you to the concept and the second expanding on it in more detail
            </p>
          </div>
            
        </div>   
      </div>
    </div>

    <!-- 6 cols  pathsway-->


    <!-- button-->
    <div class="container">
      <div class="row">
         <div class="col">
          <center>
            <button  id="ApplyNow">
                <a href="Contact">Apply Now!</a>
            </button>
          </center>

         </div>      
      </div>
    </div> 
    <!-- button -->
</section>


    <!-- flip over -->
 <section id="firsttestimonial"> 
    
  <!-- flip over -->
  <div class="container "> 
    <div class="row">
      <div class="col-12" >
        <div id="FirstFlipOver">
            <div id="wrapperofoverlay"> 
              <div class="FirstOverlayOfFlipOver "  data-aos="fade-left">
                  <hr>
                  <h6 >
                    “I was lost after completing High School  and needed a career so I went to Brightfield to try a class. They taught me the technical skills I needed for my job and the soft skills I needed to prosper. This program gave me a whole new start and I’m forever grateful.”
                      Charles, Brightfied graduate. 
                  </h6> 
                  <hr> 
              </div>
            </div>
          <div id="firstImageholder"></div>
        </div>    <!--first fliopver-->
      </div><!--col-->
    </div> <!--row-->
  </div> <!--container fluid-->
   </section>
  


    <!--header -->
    <section>
      <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">
                    What you need to know
                </h1>

            </div>
        </div>       
      </div>
    </section>

    <!-- end of header
    +-->

    <section class="">
      <div class="container ">
        <div class="row">
            <div class="col-xm-12 col-sm-6 col-md-3 col-lg-3">
               <div class="wrapvector">
                <center>
                  <div class="circleVector">
                    <i class="fa-sharp fa-solid fa-user-group fa-8x"></i>
                  </div>
                  </center>

                <div class="body">
                    <h4  class="text-center">
                        Online or In-person
                    </h4>
                    <h6 class="text-center">
                        You will attend an 
                        in-person or virtual 
                        class meetup (once a week in the evenings), complete an online 
                        curriculum, and build several projects for your online portfolio.
                    </h6>
                </div>
              </div>
              <!-- div wrap vector -->
            </div>
            <div class="col-xm-12 col-sm-6 col-md-3 col-lg-3">
              <div class="wrapvector">
                <center>
                  <div class="circleVector">
                    <i class="fa-8x fa-sharp fa-solid fa-business-time"></i>
                  </div>
                  </center>

                  <div class="body">
                      <h4 class="text-center">
                          It takes time
                      </h4>
                      <h6  class="text-center"> 
                          You will complete two or more courses 
                          (12 weeks each) in the pathway to 
                          the programming language of your choice.
                          15-20 hours of time is required each week
                          for class and curriculum work.
                      </h6>
                  </div>
                </div>
                
            </div>
            <div class="col-xm-12 col-sm-6 col-md-3 col-lg-3">
              <div class="wrapvector">
                <center>
                  <div class="circleVector">
                    <i class="fa-8x  fa-solid fa-laptop"></i>
                  </div>
                  </center>

                  <div class="body">
                      <h4 class="text-center">
                          You need a computer
                      </h4>
                      <h6  class="text-center">
                          You will need a desktop computer or 
                          laptop (Windows, Mac, or Linux) and access 
                          to the internet. If you do not have a computer, let us know and we may be able to help you get one. 
                          You do not need a brand new computer.
                      </h6>
                  </div>
              </div>   
            </div>
            <div class="col-xm-12 col-sm-6 col-md-3 col-lg-3">
              <div class="wrapvector">
                <center>
                <div class="circleVector">
                  <i class="fa-solid fa-certificate  fa-8x"></i>
                </div>
                </center>

                <div class="body">
                    <h4 class="text-center">
                        Show off your skills
                    </h4>
                    <h6  class="text-center">
                        Upon completion, you will
                         get a Certificate of Completion that is recognized
                          by many local developers. You will also create projects for your digital 
                        portfolio that shows employers you know what you're doing.
                    </h6>
                </div>
              </div> 
                
            </div>
        </div>
      </div>
    </section>

    <!-- svg like section ends -->


    

    <!-- requirements  start -->
    <section  class="requirementSec">
      <div class="container">
         <div class="row">
            <div class="col-12">
                <div class="text">
                    <h1 class="text-center">Requirements</h1>
                    <p class="text-center">
                        In order to participate in  Brightfield's Academy Programs, you must be  looking to enter the tech industry as a career, and reside in one of the following counties: Ghana-Sefwi Bekwai,
                         ,Nigeria,Togo.
                    </p>

                </div>
                <button class="d-flex  alig">
                    <a href="Contact">Apply Now</a> 

                </button>
            </div>
         </div>   
      </div>
    </section>

    <!-- requirements end -->


    <!-- testimonies from students -->
    <section class="testimoniesSec">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">
                        “I’m very happy I followed my curiosity and got into this field. 
                        It can be challenging at times, but I enjoy the challenge.”
                    </h1>
                    <p style="margin:auto ;" class="text-center  pb-3">— Francis Kwabena Andoh, graduate and full-time developer</p>

                </div>
            </div>
        </div>
    </section>

    <!-- end of   testimonies -->


    <!-- testimonial vids -->
    <section >
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="imgorvid">

                    </div>
                    <div class="caption">
                        <h3 class="text-center mb-3">
                            Meet Richmond Andoh, Samuel Abu and Francis K. Andoh our 2022 graduates from the  Full Stack Career Cohort Program at Brightfied Tech Academy
                        </h3>
                     

                    </div>

                    <!-- cards section -->
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                      <div class="col">
                        <div class="card h-100">
                          <img src="images/samuelbu].jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          </div>
                          <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100">
                          <img src="images/unknow.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                          </div>
                          <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100">
                          <img src="images/des.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                          </div>
                          <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end of  cards section -->


                    

                </div>
            </div>
        </div>
    </section>
    {{!-- {{>footer}} --}}