
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/mentorship.css">
</head>

{{!-- {{>header}} --}}
 <section>
  <!--  bg wallpaper start -->
    
      
          <div class="wrapme">
             <div class="bgPic" >
                <img class="img-fluid  h-100 w-100"  src="images/codeswalp.jpg" alt="">
                <div class="overlay"></div>
                <p class="display-4">Mentor</p>
            </div>
          </div>
        </div>
   
  <!-- wallpaper -->



  <!-- mentorship mortivation  start -->
<section  class="mentormotiv">
  <div class="container">
    <div class="mentorMotivationwrap">
      <h2  class="pb-2  text-center">
        We've got an active community of mentors, eager students, and long-time graduates helping each other succeed and be passionate about technology. Mentors truly are the key ingredient to making Brightfied Tech Academy work so well. 

      </h2>
      <blockquote class="text-center"> 
        <i>"Tell me and I forget, teach me and I may remember, involve me and I learn.”</i>
        <i class="muted"> ― Benjamin Franklin</i>
      </blockquote>
    
      
  
    </div>
  </div>

</section>




  <!-- mentorship mortivation end -->
















<!-- header  for four cards (what does  it take..... -->

    <section class="">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="wrapheader  text-center">
            <h3>What does it take to be a mentor ?</h3>
          </div>

          </div>
        </div>

      </div>
  <!-- end of header for four cards -->

<!-- four cards -->
      <div class="container">
        <div class="row">
            <div class="col-xm-12 col-sm-6 col-md-3 col-lg-3">
               <div class="wrapvector">
                <center>
                  <div class="circleVector">
                    <i class="fa-8x fa-solid fa-video"></i>
                  </div>
                  </center>

                <div class="body">
                    <h4  class="text-center">
                        Online meetings
                    </h4>
                    <p class="text-center">
                        Attend and be involved with a weekly Zoom meetup (6-8 p.m.) 
                        one night per week for 12 weeks..
                    </p>
                </div>
              </div>
              <!-- div wrap vector -->
            </div>
            <div class="col-xm-12 col-sm-6 col-md-3 col-lg-3">
              <div class="wrapvector">
                <center>
                  <div class="circleVector">
                    <i class="fa-sharp fa-solid fa-messages-question"></i>
                    
                  
                  </div>
                  </center>

                  <div class="body">
                      <h4 class="text-center">
                        Provide guidance
                      </h4>
                      <p  class="text-center"> 
                        Answer questions, lead discussions, review projects, and offer advice to students in a programming language of your choice.
                         Virtually mentor on Slack.
                      </p>
                  </div>
                </div>
                
            </div>
            <div class="col-xm-12 col-sm-6 col-md-3 col-lg-3">
              <div class="wrapvector">
                <center>
                  <div class="circleVector">
                    <i class="fa-solid fa-comment-question"></i>
                  </div>
                  </center>

                  <div class="body">
                      <h4 class="text-center">
                        Work together
                      </h4>
                      <p  class="text-center">
                        Work with other mentors to help 
                        your class stay on track, involved, and interested.
                  </div>
              </div>   
            </div>
            <div class="col-xm-12 col-sm-6 col-md-3 col-lg-3">
              <div class="wrapvector">
                <center>
                <div class="circleVector">
                    <i class=" fa-8x fa-solid fa-handshake-angle"></i>
                </div>
                </center>

                <div class="body">
                    <h4 class="text-center">
                        Be professional
                    </h4>
                    <p  class="text-center">
                        Maintain professionalism and adhere to the <a href="#">Code of Conduct</a>.
                    </p>
                </div>
              </div> 
                
            </div>
        </div>
      </div>
    </section>

    <!-- svg like section ends -->

     <section>
      <div class="container">
        <hr>
        <div class="row">
          <div class="col-12 text-center pt-4  pb-4">
              <h4>“Mentors get to help people learn and have those ‘a-ha’ moments. It’s a really great, enriching experience.”</h4>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12 text-center">
            <h3> We are constantly trying new classes,
               so let us know if you are interested in something special. We regularly offer classes in Front-end Web Development, C#, Python, and JavaScript. If you don't see your preferred stack, 
              reach out and we may be able to create a new class!
            </h3>
            <center>
              <button id="becomeMember"  class="mb-6 ">
                <a href="#card-registration">Become  a Mentor</a>
            </button>

            </center>
       
          </div>
        </div>
      </div>
     </section>
    

    <!--As a mentor  -->
    <section  class="AsMent">
      <div class="container">
         <div class="text-center AsMentWrap">
            <h3 >
              “As a mentor you get to work with up-and-coming 
              software developers first hand.
               It’s a great way to find talented candidates.”
            </h3>
            <small>--Senior Mentor : Mr. Oliver Mensah</small>
                                                
         </div>
      </div>
    </section>
    <!-- end of as mentor -->


    <!-- testimonies from students -->
    <section class="h-100 bg-light">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col">
            <div class="card card-registration my-4" id="card-registration" >
              <div class="row g-0">
                <div class="col-xl-6 d-none d-xl-block">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                    alt="Sample photo" class="img-fluid"
                    style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                </div>
                <div class="col-xl-6">
                  <div class="card-body p-md-4 text-black">
                    <h3 class="mb-2 text-uppercase">Become a mentor</h3>
                    <h6 class="pt-3 pb-3">Complete the form below and Brightfied Academy staff member will be in touch shortly. </h6>
    
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input type="text" id="form3Example1m" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Example1m">First name</label>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input type="text" id="form3Example1n" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Example1n">Last name</label>
                        </div>
                      </div>
                    </div>
    
 
    
                    <div class="form-outline mb-4">
                      <input type="text" id="form3Example8" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example8">Address</label>
                    </div>

                            <!-- Number input -->
                  <div class="form-outline mb-4">
                    <input type="number" id="form7Example6" class="form-control" />
                    <label class="form-label" for="form7Example6">Phone</label>
                  </div>
    
                    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
    
                      <h6 class="mb-0 me-4">Gender: </h6>
    
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                          value="option1" />
                        <label class="form-check-label" for="femaleGender">Female</label>
                      </div>
    
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                          value="option2" />
                        <label class="form-check-label" for="maleGender">Male</label>
                      </div>
    
                      <div class="form-check form-check-inline mb-0">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                          value="option3" />
                        <label class="form-check-label" for="otherGender">Other</label>
                      </div>
    
                    </div>
    
                
    
                    <div class="form-outline mb-4">
                      <input type="text" id="form3Example97" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example97">Email ID</label>
                    </div>

                    <p>What stack(s) are you most interested in mentoring?</p>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">
                        Front End (HTML, CSS, JS)
                      </label>
                    </div>
                
                    <!-- Checked checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
                      <label class="form-check-label" for="flexCheckDefault2">
                        Python
                      </label>
                    </div>
                
                    <!-- Checked checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" />
                      <label class="form-check-label" for="flexCheckDefault3">
                        JavaScript
                      </label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">
                        PHP
                      </label>
                    </div>
                
                    <!-- Checked checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
                      <label class="form-check-label" for="flexCheckDefault2">
                        Ruby
                      </label>
                    </div>
                
                    <!-- Checked checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" />
                      <label class="form-check-label" for="flexCheckDefault3">
                        Java
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">
                      UX Design
                      </label>
                    </div>
                
                    <!-- Checked checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
                      <label class="form-check-label" for="flexCheckDefault2">
                        Database
                      </label>
                    </div>
                
                    <!-- Checked checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" />
                      <label class="form-check-label" for="flexCheckDefault3">
                        Others
                      </label>
                    </div>
    
                    <div class="d-flex justify-content-end pt-3">
                      <button type="button" class="btn btn-light btn-lg">Reset all</button>
                      <button type="button" class="btn btn-outline-light btn-lg ms-2">Submit form</button>
                    </div>
                    
    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of   testimonies -->

    
  <div id="floatn"  style="

  top: 50%;
  left: 0;
 

  position: fixed;
  z-index: 4;
  margin-left: 30px;
 
  " >
  <a href="#">
    <img      src="images/2ndlogoofcode.webp" alt="">
  </a>
    
    
    

  </div>


    <!-- testimonial vids -->


    <section  class="d-flex align-items-center">
      <div class="container-fluid interestedSection">
        <div class="col-12   wrap">
          <h1>Interested  in Mentoring ?</h1>
          <h5 class="mt-4">
            Mentors are an integral part of our success, enabling students to have access to those who have worked in the industry and want to share their knowledge and experience. While most of our mentors 
            come from local companies, we also welcome remote mentors!
          </h5>

          <button><a href="#">Learn More</a></button>

        

        </div>
      </div>
    </section>
    


{{!-- {{>footer}} --}}