<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/newsfeed.css">
</head>

<div class="container">
    <div class="row">
        <div class="mt-4 mb-4">
          <iframe style="width:100vw ; height:100vh" src="https://rss.app/embed/v1/wall/tCh7KftRtzv6UlmG" frameborder="0"></iframe>

        </div>

    </div>
</div>

{{!-- <rssapp-wall id="t1bMacw7LTfsGeKt"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script> --}}
{{!-- <iframe width="900" height="1600" src="https://rss.app/embed/v1/wall/t1bMacw7LTfsGeKt" frameborder="0"></iframe> --}}

