<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/newsfeed.css">
</head>

{{!-- {{>header}} --}}
<section>
  <!-- video bg  start -->
    <div >
      <div class="row">
        <div class="col-12 wrapme ">
             <div class="bgPic" >
                <img style="max-height:300px ;" class=" image-fluid h-60 w-100"  src="images/codeswalp.jpg" alt="">
                <div class="overlay"></div>

                <div  class="wrap">
                  <div class="row">
                    <div class="col-xm-12">
                      <p class="header">NEWS FEED AND POSTS
                        <br> IN TECH </p>
                      <p class="subheader">GET YOUR CURRENTS NEWS UPDATES AROUND THE GLOBE IN OUR NEWS FEED
                      </p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  <!-- video bg end -->


    <div class="container">  
      <div class="backgroundColor" >
          <div class="row"> 
                
                <div class="col-12">
                   <p class="h3 shadow-lg px-3" style="background-color:var(--primary) ; color:white;">BRIGHTFIELD TECH ACADEMY</p>
                  <iframe allowfullscreen style="border:0;height:500px; width:100%"  src="https://rss.app/embed/v1/imageboard/t1bMacw7LTfsGeKt" frameborder="0"></iframe>
                </div>
          </div> <!--row-->
          <div class="row"> 
                
            <iframe width="900" height="1600" src="https://rss.app/embed/v1/magazine/nVMpEXAXtea3MjaO" frameborder="0"></iframe>
                {{!-- <div class="col-12">
                   <p class="h3 shadow-lg px-3" style="background-color:var(--primary) ; color:white;">MAGAZINE</p>
                   <iframe allowfullscreen style="border:0;height:500px; width:100%"  src="https://rss.app/embed/v1/magazine/nVMpEXAXtea3MjaO" frameborder="0"></iframe>

                </div>   --}}
          </div> <!--row-->
      <div class="row">
        <div class="col-sm-6 col-xm-12"  >
                   <iframe allowfullscreen  style="border:0;height:800px;width:100%" loading="lazy" src="https://rss.app/embed/v1/magazine/tCh7KftRtzv6UlmG" frameborder="0"></iframe>

                </div>
                <div class="col-sm-6 col-xm-12">
                     {{!-- <p class="h3 shadow-lg px-3" style="background-color:var(--primary) ; color:white;">JOBS</p> --}}
                    <iframe allowfullscreen  style="border:0;height:800px;width:100%" src="https://rss.app/embed/v1/magazine/_cWrp3kcJv4mMyk4I" frameborder="0"></iframe>
                </div>
      </div>
      <div class="row">
        <div class="col-12"> 
          <div class="shadow-lg mt-4">
              <p class="h3 shadow-lg px-3" style="background-color:var(--primary) ; color:white;">TECHNOLOGY</p>
              <iframe allowfullscreen  style="border:0;height:800px;width:100%" src="https://rss.app/embed/v1/list/tNGsoOo6Acqjtf1d" frameborder="0"></iframe>

          </div>
                </div>
      </div>      
                
    </div> <!--container -->



    
      

    </div>    <!--programsofferedcontainer-->




  
  <div id="floatn"  style=" top: 50%; left: 0; position: fixed; z-index: 4; margin-left: 30px;" >
  <a href="#">
    <img      src="images/2ndlogoofcode.webp" alt="">
  </a>
  </div>


    {{!--footer  --}}
    {{!-- {{>footer}} --}}
 

{{!-- <div class="container">
    <div class="row">
        <div class="mt-4 mb-4">
          <iframe style="width:100vw ; height:100vh" src="https://rss.app/embed/v1/wall/tCh7KftRtzv6UlmG" frameborder="0"></iframe>

        </div>

    </div>
</div> --}}

{{!-- <rssapp-wall id="t1bMacw7LTfsGeKt"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script> --}}
{{!-- <iframe width="900" height="1600" src="https://rss.app/embed/v1/wall/t1bMacw7LTfsGeKt" frameborder="0"></iframe> --}}

