<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/programs.css">
</head>

{{!-- {{>header}} --}}
<section>
  <!-- video bg  start -->
    <div >
      <div class="row">
        <div class="col-12 wrapme ">
             <div class="bgPic" >
                <img  style="max-height:300px ;" class="img-fluid  h-70 w-100"  src="images/codeswalp.jpg" alt="">
                <div class="overlay"></div>

                <div  class="wrap">
                      <p class="header">LAND YOUR DREAM JOB 
                        <br> IN TECH </p>
                      <p class="subheader">Learn today’s most 
                        in-demand digital skills and
                         kickstart your new career
                      </p>
                  
                  </div>
                 

                    

                </div>
            </div>
        </div>
      </div>
    </div>
  <!-- video bg end -->


  <!-- logo sectio-->
    <div class="container  logoSectionWrap ">  
      <div class="row">
                <div class="col-xm-12 col-sm-4 col-md-4  col-lg-4 d-flex align-items-center" >
                    <img id="logo" src="images/techcodingforhirepage.jpg" class="img-fluid" alt="">
                </div><!--col-->
                <div class="col-xm-12 col-sm-8 col-md-8  col-lg-8" >
                    <div  class="textHeaderSec">
                      <small class="muted">Skill Path</small>
                       <h1>Code Foundations</h1>
                        <h2 class="ml-2">
                          Everyone’s talking about coding,but where do you start? 
                          This path will give you an introduction to the world of 
                          code and basic concepts. By the end, you’ll know whether Data Science, Computer Science or Web Development is right for you.
                           
                        </h2>
                         <h5>
                          To start this Skill Path, Contact us now!!.
                         </h5>

                    </div>
                    <button  type="button" class="">Contact Us</button>
                </div><!--col-->  
      </div> <!--row-->
    </div> <!--container -->
    <!-- end of logo  section -->



    <!-- details and vid start -->
    <div class="programsOffered">
      <p class="heading text-center">
        <span style="color:black ;"> DISCOVER OUR CODING</span>  <span style="color:#00BFFF">PROGRAMS</span> 
     </p>
    
      <div class="container">
        <div class ="row">
          <div class="col-12" >
            <div id="firstcol">
               <div class="heading" style="color:#17a2b8">
                 
               </div>
               <div class="programDetails">
                  
               </div>

            </div>
           
          </div>

          <div class="col-12" >
            <div id="firstcol">
               <div class="heading" style="color:#17a2b8">
                 
               </div>
               <div class="programDetails">

               </div>

            </div>
           
          </div>



          <div class="col-12" >
            <div id="firstcol">
               <div class="heading" style="color:#17a2b8">
                 
               </div>
               <div class="programDetails">

               </div>

            </div>
           
          </div>
       </div>  <!--row-->
       

      </div>  <!--container-->

    </div>    <!--programsofferedcontainer-->

    <!-- details and vid end-->

    <!-- About founder end-->
    <div class="container bio">
      <div class="row">
        <p class= "display-4 text-center" >
          “This program has been instrumental
             in allowing our company to continue growing at
              a rapid pace."
            </p>
            <small class="text-center">-----Founder: Oliver Mensah-----</small>
        </div>
    </div>


    <!-- About founder -->

 <!-- Have Questions -->

 <div   class="FAQ text-center">
  <h1 >HAVE QUESTIONS?</h1>
  <p>GIVE US A CALL  (<a href="">+233 54 489 2841</a>) </p>

 </div>

  <div class="container mb-3">
    <div class="row">
      <div class="col-xm-12 col-sm-6 col-md-6 col-lg-6 text-center mb-3">
        <div>
          <img src="/images/svg/online-info-session-image.svg" alt="">
        </div>
        <div class="textArea">
          <p class="fw-bold">Online Info Session</p>
          <ul class="list-unstyled custom-list">
            <li>Get a course recommendation</li>
            <li>See how we teach</li>
            <li>Meet your instructors</li>


          </ul>
           <button  type="button" class="beForeAccordionButton">Join Our Online Community</button>

        </div>

      </div>
      <div class="col-xm-12 col-sm-6 col-md-6 col-lg-6 text-center mb-3">
        <div class="">
          <img src="/images/svg/admission-QA-image.svg" alt="">
        </div>
        <div class="textArea">
          <p class="fw-bold">Admissions Q&A</p>
          <ul class="list-unstyled custom-list">
            <li>See how the bootcamp works</li>
            <li>Learn all our course options</li>
            <li>Discover custom financing options</li> 
          </ul>
           <button  type="button" class="beForeAccordionButton">Schedule a Call</button>
          
        </div>

      </div>

    </div>
  </div>


<!-- end of have questions -->
`                                                                                   



    <!-- section 2 vids section -->
    <div class="container"  >
      <div class="accordion" id="firstAccordion" >
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingfirst">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefirst" aria-expanded="false" aria-controls="collapsefirst">
              <h3>How long are your programs?</h3> 
            </button>
          </h2>
          <div id="collapsefirst" class="accordion-collapse collapse" aria-labelledby="headingfirst" data-bs-parent="#accordionExample">
            <div class="accordion-body">
             <ul>
                <li class="mb-2"><strong>Highly qualify educators</strong>  <br>
                  We have a group of exceptionally skilled teachers who work in the industry and have extensive backgrounds in both teaching and programming. 
                </li>
                <li  class="mb-2" ><strong>Project based learning </strong>  <br>
                  While working on the projects, students will pick up the principles of coding.
                 This approach has proven to be a great strategy to keep kids interested in their education and improve their learning opportunities. 
                </li>
                <li  class="mb-2">
                  <strong> Project based learning</strong>  <br> 

                        While working on the projects, students will pick up the principles of coding. This approach has proven to be a great strategy to keep kids interested in their education and improve their learning opportunities. Curriculum Development To keep the quality of our curriculum at a high level, we have invested hundreds of hours in its development.
                          Robotics, drones, and electronics are all included into our curriculum in a special way.With constant engagement and the ability to be creative, the students will benefit from this.
                        Our entertaining and interesting curriculum guarantees that students not only learn the fundamentals of coding,
                </li>
                
                <li class="mb-2"> <strong> Work together with parents</strong>  <br>
                  At Champion Coders, we believe that students need guidance from us as well as from parents to  help them grow.
                   We communicate with students’ parents regularly to keep them in the loop of their child’s                   performance. Any students that are  struggling in class, we work together with  parents to help             students in the best possible way. We also go the extra mile by giving  free   review classes to               make sure that no students are left behind.
                </li>
                <li>
               <strong>Certificate</strong>   <br>
                 
                 <h6>We will also issue certificate of completion.</h6>

                </li>
              </ul> 

            </div>
          </div>
        </div>
        
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h3>How long are your programs?</h3> 
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Depending on the course and your schedule, our bootcamps last anywhere from 14-36 weeks. Here’s how it breaks down:
              <li>
                Coding Bootcamp: 14-26 weeks
              </li>
              <li>
                Data Science Bootcamp: 16-20 Weeks
              </li>            
              <li>
                Cybersecurity Bootcamp: 24 Weeks
              </li>
              <li>
                UI/UX Bootcamp: 24 Weeks
              </li>

            </div>
          </div>
        </div>
        <div class="accordion-item  mb-4">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
             <h3> How much do your programs cost?</h3> 
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Depending on what you would like to learn and your financing, our bootcamps cost anywhere from $9,995 to $16,995
            </div>
          </div>
        </div>
      </div>
      
    </div> 
    <!-- contianer for two dis end-->
  </section>
  


    <!-- form entries  start -->
    <section class="h-100  contactArea">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col">
            <div class="card-registration my-4">
              <div class="row g-0">
                <div class="col-xl-6 d-none d-xl-block">
                  <img id="OliverBioimg" src="images/olver.jpg"
                    alt="Sample photo" class="img-fluid"
                    style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;  
                    min-height: max-content;" />

                    <div  class="OliverBio mb-3">
                      <h4>C.E.O  - Mr. Oliver Mensh</h4>
                      <p>
                        Oliver Mensah is 
                        a Mastercard Foundation Scholar 
                        Alumnus and a software engineer at 
                        Future500 B.V. Besides his day-to-day job as a software engineer, he is very active in the developer community in sub-Saharan Africa and contributes to programs designed to support the professional 
                        development of software engineers in Africa.

                      </p>
                    </div>
                </div>
                <div class="col-xl-6 ">
                  <div class="card-body p-md-5 text-black">
                    <h1> Contact Us</h1>
                    

                    <h6 lass="mb-5 text-uppercase">
                      We can help you identify potential candidates. We also share job openings via our  channels to a private group of graduates who have successfully completed job readiness seminars.

                      Please submit the form below and our staff will reach out to you directly. Thank you for growing tech talent in the region!
                    </h6>
                    <h4 class="mb-5 text-uppercase">Student registration form</h4>
    
                    <div class="row formstart">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input type="text" id="form3Example1m" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Example1m">First name</label>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input type="text" id="form3Example1n" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Example1n">Last name</label>
                        </div>
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input type="text" id="form3Example1m1" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Example1m1">Mother's name</label>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input type="text" id="form3Example1n1" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Example1n1">Father's name</label>
                        </div>
                      </div>
                    </div>
    
                    <div class="form-outline mb-4">
                      <input type="text" id="form3Example8" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example8">Address</label>
                    </div>
    
                    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
    
                      <h6 class="mb-0 me-4">Gender: </h6>
    
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                          value="option1" />
                        <label class="form-check-label" for="femaleGender">Female</label>
                      </div>
    
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                          value="option2" />
                        <label class="form-check-label" for="maleGender">Male</label>
                      </div>
    
                      <div class="form-check form-check-inline mb-0">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                          value="option3" />
                        <label class="form-check-label" for="otherGender">Other</label>
                      </div>
    
                    </div>
    
                    <div class="row">
                      <div class="col-md-6 mb-4">
    
                        <select class="select ">
                          <option value="1">State</option>
                          <option value="2">Option 1</option>
                          <option value="3">Option 2</option>
                          <option value="4">Option 3</option>
                        </select>
    
                      </div>
                      <div class="col-md-6 mb-4">
    
                        <select class="select">
                          <option value="1">City</option>
                          <option value="2">Option 1</option>
                          <option value="3">Option 2</option>
                          <option value="4">Option 3</option>
                        </select>
    
                      </div>
                    </div>
    
                    
    
    
                    <div class="form-outline mb-4">
                      <input type="text" id="form3Example99" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example99">Course</label>
                    </div>
    
                    <div class="form-outline mb-4">
                      <input type="text" id="form3Example97" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example97">Email ID</label>
                    </div>
    
                    <div class="d-flex justify-content-end pt-3">
                      <button type="button" class="btn btn-light btn-lg">Reset all</button>
                      <button type="button" class="btn  btn-lg ms-2 sub">Submit form</button>
                    </div>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </section>

    <section class="programmeDesc">
      <div class="container-fluid ">
        <div class="row">
          <div class="col-12 wrap ">

            <blockquote  class="display-5 text-center">
              " Just too bored? Want to be creative and want to do something thrilling? Here it is, learn now, CSS, JavaScript and much more.
               Contact us right now and do not miss out on the chance-- Brightfield Academy."
            </blockquote>
            <center><small id="chief">--- Chief Supervisor:   Richmond Andoh ---</small></center>

          </div>
        </div>
      </div>

    </section>

    


    
  <div id="floatn"  style=" top: 50%; left: 0; position: fixed; z-index: 4; margin-left: 30px;" >
  <a href="#">
    <img      src="images/2ndlogoofcode.webp" alt="">
  </a>
  </div>

  <div class="container"  style="background-color:#0c1424">
    <img  class="img-fluid" src="/images/logoscollection.png" alt="">
  </div>

    {{!--footer  --}}
    {{!-- {{>footer}} --}}
 