:root{
    --primary:#00BFFF;
    --secondary:#0c1424;
    --body: rgb(252, 245, 245);
  }
  
  /* 
  font-family: 'Noto Sans Mono', monospace;
  font-family: 'Poppins', sans-serif; */
  
  
  
  
  
  body {
  width:100vw;
  font-family: 'Noto Sans Mono', monospace;
  
  background-color: rgb(252, 245, 245);
  z-index: -3;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  color: var(--secondary);
  }
  
  
  .wrap{
  max-width: 1398px;
  margin: auto;
  position:relative;
  overflow-x:hidden !important;
  
  }
  

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}