:root{
    --primary:#00BFFF;
    --secondary:#0c1424;
    --body: rgb(252, 245, 245);
  }

.authbutton  a {
    color: white !important; 
    background-color: var(--primary) !important; /* margin-right: 1rem ; */                     
    margin-left: .25rem;
    margin-right: .25rem;

    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    text-decoration: none !important;
    font-size: small;
}


.navbar-nav > span {
    font-size: x-small;
    position: absolute;
    top: -20px;
    right: 15px;
    color: var(--primary);
  

}

/* @media (max-width: 768px) {
    .navbar-nav  > span {
      display: none !important;
      color: white;
    }
  } */
  