:root{
  --primary:#00BFFF;
  --secondary:#0c1424;
  --body: rgb(252, 245, 245);
}


body {
width:100vw;
font-family: 'Noto Sans Mono', monospace;
background-color: rgb(252, 245, 245);
z-index: -3;
color: var(--secondary);
}


.wrap{
max-width: 1398px;
margin: auto;
position:relative;
overflow-x:hidden !important;

}
  

  .wrapme{
    position: relative;
  }

  .bgPic{
    background-color:#0c1424;
    
  }


  .bgPic > img{
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .bgPic .overlay{
    position: absolute;
    background-color: rgba(0, 0, 0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
  }

  .bgPic .wrap {
    
    color: white;
    position: absolute;
    
    top: 10%;
    bottom: 5%;
    left: 5%;
    z-index: 2;
    font-weight: bolder;
    
  }

  .bgPic  .header{
    font-size: 5vw;
    font-weight: bolder;
    line-height:90%;
    /* text-shadow:1px 1px 5px #fff ; */
    
  }

  .bgPic .subheader{
    line-height:110%;
    font-size:3vw;
    
    width: 70%;
  }
  
  .logoSectionWrap{
    margin-top: 3rem;
    color: #0c1424;
  }

  .logoSectionWrap img{
    margin:auto;
  }

  .textHeaderSec > h6 ,h1,small,h2,h5 {
    margin-top: 2rem;
    padding-left: 2rem;

  }

  .logoSectionWrap button{
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 2rem 2rem 2rem 2rem;
    background-color: var(--primary);
    border-style: none;
    color: white;
    font-size: large;
  }
  
  
  section p{
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
  }
  
  #floatn img{
    
    width: 4rem;
    height: 4rm;
    border-radius: 6rem;
    opacity: 0.4;
      
}

  footer{
    margin-top: 8rem;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Poppins', sans-serif; 
  }
  
  
  footer a:hover{
    color: var(--primary) !important;
  }
  
  
  footer p:hover{
    color: var(--primary) !important;
  }
  
  
  footer a{
    color: var(--primary) !important;
  }
  
  /* footer end */:root{
    --primary:#00BFFF;
    --secondary:#0c1424;
    --body: rgb(252, 245, 245);
  }

  